@import url('global.css');

.auth__container{
    background-image: url('/img/vin.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.auth__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.auth__header-title {
    font-family: var(--font-vino);
    font-size: var(--big-font-size);
    font-weight: var(--weight-700);
    color: white;
}

.auth__header_h1-title {
    font-family: var(--font-vino);
    font-size: var(--h1-font-size);
    font-weight: var(--weight-600);
    color: var(--wine-component);
    font-style: italic;
    margin-top: 80px;
}

.auth__h2-title {
    font-family: var(--font-vino);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-600);
    margin: 30px 60px;
}

.auth__login_text_error {
    color: white;
    margin-top: 5px;
}

.auth__container_profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px 180px 30px;
}

.auth__form_profil {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth__form_profil_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.auth__form_profil_group > label {
    font-family: var(--font-vino);
    font-size: var(--normal-font-size);
    width: 100%;
}

.auth__form_profil_group > input {
    background: var(--background-item);
    border-radius: 8px;
    border: 2px solid var(--border-primary);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.auth__profil_btn {
    color: rgba(255, 255, 255, 1);
    background-color: var(--color-button);
    font-size: var(--small-font-size);
    width: 300px;
    border-radius: 8px;
    border: none;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    text-align: center;
    padding: 15px 15px;
}

.auth__profil_btn:hover {
    background-color: white;
    color: var(--color-button);
    border: 2px solid var(--color-button);
    cursor: pointer;
}

.auth__profil_delete_btn {
    background-color: var(--delete-color);
}

.auth__profil_delete_btn:hover {
    color: var(--delete-color);
    border: 2px solid var(--delete-color);
}

.auth__text_error {
    font-size: var(--smaller-font-size);
    color: var(--font-vino);
    margin-bottom: 15px;
}

.auth__user-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 50px 50px;
}

.auth__user-list_th {
    width: 125px;
    font-size: var(--large-font-size);
}

.auth__user-list_td {
    text-align: center;
    padding: 15px;
}

.auth__user-list_btn {
    width: 100px;
    padding: 5px 5px;
    background-color: var(--delete-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: var(--smaller-font-size);
    font-weight: var(--weight-500);
}

.auth__user-list_btn:hover {
    background: white;
    color: var(--delete-color);
    border: 2px solid var(--delete-color);
    cursor: pointer;
}

.auth__row {
    display: flex;
    justify-content: center;
}

.auth__col {
    flex: 0.5;
    padding: 35px;
}

.auth__form-container {
    margin-bottom: 180px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth__form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.auth__form-group > label {
    color: white;
    font-family: var(--font-vino);
    font-size: var(--tiny-font-size);
    width: 100%;
}

.auth__form-group > input {
    background: var(--form-field);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px;
}

.auth__form-pwdforgot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__form-pwdforgot > a {
    color: white;
    font-family: var(--font-vino);
    font-size: var(--tiny-font-size);
}

.auth__form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.auth__footer-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.auth__footer-message > small {
    color: white;
    font-family: var(--font-vino);
    font-size: var(--tiny-font-size);
}

.auth__footer-message > a {
    color: white;
    font-family: var(--font-vino);
    font-size: var(--tiny-font-size);
}

.auth__btn-login{
    background: var(--color-button);
    color: white;
    border-radius: 8px;
    border: none;
    height: 54px;
    width: 100%;
    margin-top: 10px;
    font-family: var(--font-vino);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
}

.auth__btn-login:hover {
    background: white;
    color: var(--color-button);
    border: 2px solid var(--color-button);
}

@media (max-width: 767px) {
    .auth__col {
        flex: 1;
    }

    .auth__form-container {
        margin-bottom: 60px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .auth__col {
        flex: 0.6;
    }

    .auth__form-container {
        margin-bottom: 150px;
    }
}
