button, .button {
    padding: 20px;
    background: var(--color-button);
    border-radius: 10px;
    color: #c0c0c0;
    border: none;
    text-decoration: none;
}

button.btn-submit {
    text-transform: uppercase;
}

.btn-small {
    padding: 15px 10px;
    font-size: var(--smaller-font-size);
    border-radius: 25px;
}
