@import url("global.css");

/*create.blade.php*/
.create-cellier-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-vino);
}

.create-cellier-titre {
    font-size: var(--h4-font-size);
    font-weight: var(--weight-500);
    color: var(--wine-component);
    font-family: var(--font-vino);
    font-style: italic;
    padding-top: 53px;
}

.create-cellier-form {
    flex-direction: column;
    padding-top: 117px;
    font-size: var(--small-font-size);
}

.create-cellier-form label {
    display: flex;
    color: black;
}

.create-cellier-input {
    display: flex;
    border: 1px solid var(--wine-name);
    font-size: var(--small-font-size);
    border-radius: 8px;
    background-color: var(--background-item);
    padding: 18px 80px 18px 16px;
    margin-bottom: 2rem;
    margin-top: 0.25rem;
    width: 100%;
    cursor: pointer;
}

.create-cellier-input:hover {
    border: 2px solid var(--border-primary);
    box-shadow: 5px 5px 10px hsla(353, 52%, 21%, 0.3);
}

.create-cellier-btn {
    color: white;
    font-size: var(--normal-font-size);
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: 8px;
    padding: 18px 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 100%;
    cursor: pointer;
}

.create-cellier-btn:hover {
    background-color: var(--background-item);
    color: var(--color-button);
    border: 2px solid var(--border-secondary);
    font-weight: var(--weight-600);
}



/*index.blade.php*/

.cellier-index-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cellier-index-titre {
    font-size: var(--h4-font-size);
    font-weight: var(--weight-300);
    color: var(--wine-component);
    font-family: var(--font-vino);
    font-style: italic;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    padding-top: 15px;
}

.cellier-index-btn {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.cellier-index-btn-ajouter {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: var(--small-font-size);
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: 15px;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cellier-index-btn-ajouter:hover {
    background-color: white;
    color: var(--color-button);
    border: 2px solid var(--wine-component);
    font-weight: var(--weight-600);
}

.cellier-index-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 15px 15px 0 15px;
}

.cellier-index-item {
    display: flex;
    border: 1px solid var(--wine-name);
    border-radius: 10px;
    background-color: var(--background-item);
    width: 100%;
    height: 80px;
    cursor: pointer;
    padding-right: 5px;
}

.cellier-index-item:hover {
    border: 2px solid var(--border-primary);
    box-shadow: 5px 5px 10px hsla(353, 52%, 21%, 0.3);
}

.cellier-index-select {
    display: flex;
    width: 100%;
    height: 100%;
}

.cellier-index-icon {
    margin: 10px;
}

.cellier-index-name {
    color: var(--border-primary);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    font-style: italic;
    padding-top: 14px;
}

.cellier-index-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cellier-index-bottle-count {
    font-size: var(--small-font-size);
    padding-top: 14px;
    padding-right: 10px;
}

/*show.blade.php*/

.cellier-show-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.cellier-show-titre {
    font-size: var(--h4-font-size);
    font-weight: var(--weight-600);
    color: var(--wine-component);
    font-family: var(--font-vino);
    font-style: italic;
    text-align: center;
}

.cellier-show-nom {
    flex-direction: column;
    padding-top: 50px;
    font-size: var(--normal-font-size);
}

.cellier-show-nom label {
    color: black;
    display: block;
}

.cellier-show-input {
    display: block;
    border: 1px solid var(--wine-name);
    font-size: var(--normal-font-size-font-size);
    border-radius: 8px;
    background-color: var(--background-item);
    padding: 18px 80px 18px 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 100%;
    cursor: pointer;
}

.cellier-show-input:hover {
    border: 2px solid var(--border-primary);
    box-shadow: 5px 5px 10px hsla(353, 52%, 21%, 0.3);
}

.cellier-show-btn-mod {
    color: white;
    background-color: var(--color-button);
    font-size: var(--normal-font-size);
    border: 1px solid var(--color-button);
    border-radius: 8px;
    padding: 18px 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 100%;
    cursor: pointer;
}

.cellier-show-btn-mod:hover {
    background-color: var(--background-item);
    color: var(--color-button);
    border: 2px solid var(--border-secondary);
    font-weight: var(--weight-600);
}

.cellier-show-btn-sup {
    color: white;
    background-color: var(--delete-color);
    border: 1px solid var(--delete-color);
    font-size: var(--normal-font-size);
    border-radius: 8px;
    padding: 18px 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 100%;
    cursor: pointer;
}

.cellier-show-btn-sup:hover {
    background-color: var(--background-item);
    color: var(--delete-color);
    border: 2px solid var(--delete-color);
    font-weight: var(--weight-600);
}

/*select.blade.php*/

.cellier-select-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cellier-icon-action {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 20px 0 0;
}

.cellier-select-nom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--h2-font-size);
    font-weight: var(--weight-700);
    color: var(--wine-component);
    font-family: var(--font-vino);
    padding-top: 53px;
    font-style: italic;
    padding-top: 15px;
}

.cellier-select-btn {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.cellier-select-ajouter-btn {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: var(--small-font-size);
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: 15px;
    width: 100%;
    height: 45px;
    padding: 0 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cellier-select-ajouter-btn:hover {
    background-color: white;
    color: var(--color-button);
    border: 2px solid var(--wine-component);
    font-weight: var(--weight-600);
}

.cellier-select-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 15px 15px 0 15px;
}

a {
    text-decoration: none;
    padding-top: 3px;
}

.cellier-select-item {
    display: flex;
    border: 1px solid var(--wine-name);
    border-radius: 10px;
    background-color: var(--background-item);
    width: 100%;
    height: 190px;
    cursor: pointer;
    padding-right: 5px;
}

.cellier-select-item:hover {
    border: 2px solid var(--border-primary);
    box-shadow: 5px 5px 10px hsla(353, 52%, 21%, 0.3);
}

.select-img {
    display: flex;
    max-width: 125%;
    padding-top: 10px;
    height: 180px;
 
}

.cellier-select-bouteille-nom {
    color: var(--border-primary);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    font-style: italic;
    padding-top: 14px;
    padding-left: 2px;
}

.cellier-select-bouteille-info {
    color:black;
    font-size: var(--normal-font-size);
    text-decoration:none;
}

.cellier-select-item-content {
    width: 100%;
}

.cellier-item-action {
    margin-top: 150px;
}

.cellier-info-icon {
    display: flex;
    justify-content: end;
    width: 25px; /* Ajuste para o tamanho desejado */
    height: 25px; 
}

.cellier-select-bouteille-quantite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    width: 120px;
}

.cellier-select-bouteille-quantite .plus, .cellier-select-bouteille-quantite .moins{
    text-decoration: none;
    color: white;
    background-color: var(--color-button);
    font-size: 30px;
    border-radius: 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cellier-select-bouteille-quantite .quantite:focus-visible{
    border:none;
}

.cellier-select-bouteille-quantite label{
    margin-right: 25px;
}

.cellier-select-bouteille-quantite .quantite-bouteille{
    text-align: center;
    color:#000;
    background-color: white;
    padding: 15px ;
    border: 2px solid var(--color-button);
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    margin: 0 2px;
    border: none;
    font-size: 30px;
    background-color: transparent;
}