@import url("global.css");

/*create.blade.php*/
.create-cellier-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: var(--font-vino);
}

.create-cellier-titre {
    color: var(--wine-name);
    font-size: var(--h3-font-size);
    font-weight: var(--weight-700);
    font-style: italic;
    padding-top: 53px;
}

.create-cellier-form {
    flex-direction: column;
    padding-top: 117px;
    font-size: var(--tiny-font-size);
}

.create-cellier-form label {
    color: black;
    display: block;
}

.create-cellier-input {
    display: block;
    border: 1px solid var(--wine-name);
    border-radius: 8px;
    background-color: var(--background-item);
    padding: 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 297px;
    height: 54px;
    top: 134px;
    left: 48px;
    cursor: pointer;
}

.create-cellier-input:hover {
    border-color: black;
}

.create-cellier-btn {
    color: white;
    background-color: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    width: 297px;
    height: 54px;
    top: 237px;
    left: 49px;
    cursor: pointer;
}

.create-cellier-btn:hover {
    background-color: var(--wine-component);
    color: var(--background-item);
    border: 1px solid var(--wine-component);
}
