@import url('global.css');

/* Style de pied de page */
.footer {
    display: flex;
    background-color: var(--color-footer);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer-lien {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-lien > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

/* Style d'icône */
.footer-icon {
    max-width: 30px;
    max-height: 30px;
}

.footer-text {
    color: #fff;
}
