 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{

/*Colors*/

 --color-button:hsl(352, 52%, 21%);

 --color-footer: hsl(352, 52%, 21%);

 --wine-component: hsl(351,82%,37%);

 --wine-name: hsl(351,82%,37%);

 --wine-info: hsl(355,70%,37%);

 --form-field: hsl(228,4%,54%);


 /* Font and Typography */

 --font-vino: 'Inter', sans-serif;

  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  /* Font Weight */

  --weight-300:300;
  --weight-400:400;
  --weight-500:500;
  --weight-600:600;
  --weight-700:700;
  --weight-800:800;

}





