.pagination{
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}
.pagination a{
    text-decoration: none;
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
}
.pagination .current-page-container{
    padding: 10px;
}

.pagination .avant-btn, .pagination .apres-btn{
    width: 20px;
    height: 24px;
    top: 748px;
    left: 247px;
    font-family: var(--font-vino);
    font-size: 20px;
    font-weight: var( --weight-400);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}
.pagination .current-page{
   color: var(--border-primary);
}

.pagination .info-page {
    margin-bottom: 30px;
    font-weight: 900;
}
.pagination .liste-pages{
    display: flex;
    flex-direction: row;
}