.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.bottom-0 {
    bottom: 0;
}

.bottom-5 {
    bottom: 5px;
}

.right-0 {
    right: 0;
}

.right-5 {
    right: 5px;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}
