.body__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recherche__container{
    background: var(--background-item);
    border-radius: 10px;
    border: 1px solid var(--wine-name);
    margin: 20px 0;
    padding: 10px;
    display: flex;
    cursor: pointer;
}


.recherche__container:hover{
    border: 2px solid var(--border-primary);
    box-shadow: 5px 5px 10px hsla(353, 52%, 21%, 0.3);
}

.recherche__col{
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.recherche__img{
    width: 111px;
    height:160px;
}
.bouteille__nom,.bouteille__prix{
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
}
.bouteille__color{
    font-size: 20px;
    padding-bottom: 5px;
}
.bouteille__lien{
    background: transparent;
    border: none;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
    margin-top: 5px;
}
.bouteille__voir__plus{
    margin-top: 15px;
}



.auth__header.recherche{
    flex-direction: column;
    display: block;
}

.recherche__barre{
   display: flex;
   width: calc( 100% - 30px );
   margin: 35px 15px 0;
   border: 1px solid var(--border-primary);
   border-radius: 10px;
}


.recherche__barre .recherche__input{
    padding: 23px;
    background-color: var(--background-item);
    border: none;
    border-radius: 15px 0 0 15px;
    width: 100%;
}



.recherche__barre .recherche__input::placeholder, .recherche__barre .recherche__input{
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
}

.recherche__barre .recherche__btn{
    background-color: var(--background-item);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 20px;
    cursor: pointer;
}

.bouteille__ajout__cellier {
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto !important;
}

.recherche__vide{
    justify-content: center;
    height: 30vh;
    align-items: center;
}


@media (max-width:600px) {
    .body__container{
        width: 100vw;
        overflow-x: hidden;
    }
    .pagination .liste-pages {
        flex-wrap: wrap;
    }
    
}


